.card {
  border: 1px solid white;
  padding: 16px;
  margin: 16px;
  border-radius: 16px;
  text-align: center;
  transition: 0.15s all;
  width: 300px;
}

.card:hover {
  box-shadow: 4px 4px white;
  translate: -4px -4px;
  cursor: pointer
}

.card > h2{
  font-size: 32px;
}

.card > img {
  border-radius: 16px;
}

.card > h2 {
  border-left: 8px solid rgb(0, 209, 224);
  margin: 16px;
  border-radius: 5px;;
}
.card > img {
  border-radius: 16px;
}

 .card > .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
 }

.tags > div {
  background: white;
  color: black;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 12px
}
